﻿@model NewMarket.Web.ViewModels.EditProductViewModel
@{
    ViewBag.Title = "O'zgartirish";

    var imageURL = !string.IsNullOrEmpty(Model.ImageURL) ? Model.ImageURL : "/Content/images/system/placeholder-image.png";
}

<h2>Mahsulotni o'zgartirish </h2>
<form id="editProduct">
    <input type="hidden" name="ID" value="@Model.ID" />
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Savdo markazi </label>
                <select class="form-control" name="CategoryID">
                    @foreach (var category in Model.AvailableCategories)
            {
                var selected = category.ID == Model.CategoryID ? "selected" : string.Empty;
                        <option value="@category.ID" @selected>@category.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Nomi</label>
                <input class="form-control" name="Name" value="@Model.Name" />
            </div>
            <div class="form-group">
                <label>Ta'rif</label>
                <input class="form-control" name="Description" value="@Model.Description" />
            </div>
            <div class="form-group">
                <label>Narxi</label>
                <input class="form-control" name="Price" value="@Model.Price" />
            </div> 
            <div class="form-group">
                <label>Rasm</label>
                <input id="ImageURL" name="ImageURL" type="hidden" />
                <input class="form-control" id="imageUpload" name="Image" type="file" accept=".png, .jpg" />
            </div>
            <button id="updateBtn" type="button" class="btn btn-primary">O'zgartirish</button>
            <button id="cancelBtn" type="button" class="btn btn-primary">Bekor qilish</button>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <img class="img-thumbnail img-fluid" id="productImage" src="@imageURL" />
            </div>
        </div>
    </div>
</form>

<script>
    $("#imageUpload").change(function () {
        var element = this;

        var formData = new FormData();

        var totalFiles = element.files.length;

        for (var i = 0; i < totalFiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '/Shared/UploadImage',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false
        })
        .done(function (response) {
            console.log(response);
            if (response.Success) {
                $("#ImageURL").val(response.ImageURL);
                $("#productImage").attr("src", response.ImageURL);
            }
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        })
    });


    $("#updateBtn").click(function () {
        $.ajax({
            type:'POST',
            url: '/Product/Edit',
            data: $("#editProduct").serialize()
        })
        .done(function (response) {
            $("#tableContiner").html(response);
            $("#actionContainer").html("");
            focusAction("tableContiner");
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        })
    });
    $("#cancelBtn").click(function () {
        $("#actionContainer").html("");
        focusAction("tableContiner");
    });
</script>
