﻿@model NewMarket.Web.ViewModels.ProductSearchViewModel
@{
    ViewBag.Title = "ProductTable";
}

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<script src="~/Content/javascript/jquery.cookie.js"></script>
<script src="~/Content/javascript/main.js"></script>

<div>
    <form method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Izlash</label>
                    <input class="form-control" id="searchTxt" name="Search" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Amallar</label>
                    <div class="row">
                        <div class="col-md-4 pr-0">
                            <button  class="btn btn-primary form-control" type="button" id="searchBtn">Izlash</button>
                        </div>
                        <div class="col-md-4 pr-0">
                            <button class="btn btn-primary form-control" type="button" id="resetBtn">Yangilash</button>
                        </div>
                        <div class="col-md-4 pr-0">
                            <button class="btn btn-primary form-control" type="button" id="newBtn">Yangi</button>
                        </div>
                    </div>
                </div>                
            </div>
        </div>  
    </form>  
</div>

<div>
    <table id="ProductsTable" class="table table-striped" width="100%">
        <thead>
            <tr>
                <th class="font-weight-bold">Mahsulot nomi</th>
                <th class="font-weight-bold">Savdo markazi</th>
                <th class="font-weight-bold">Narxi</th>
                <th class="font-weight-bold wrap-td">Amallar</th>
            </tr>
        </thead>
        <tbody>
         @if(Model.Products != null && Model.Products.Count > 0)
         {

             foreach (var product in Model.Products)
             {
                <tr>
                    <td width="20%">@product.Name</td>
                    <td width="20%">
                        @if (product.Category != null)
                        {
                            <text>@product.Category.Name</text>
                        }
                        else
                        {
                            <text>-</text>
                        }
                    </td>
                    <td width="15%">@product.Price</td>
                    <td>
                        <button class="editBtn" data-id="@product.ID">O'zgartirish</button>
                        <button class="deleteBtn" data-id="@product.ID">O'chirish</button>
                        <button class="addtoCart" data-id="@product.ID">SAVATCHAGA QO'SHISH</button>
                    </td>
                </tr>
            }
         }
         else
         {
             <tr>
                 <td class="text-danger" colspan="4">Mahsulotlar topilmadi</td>
             </tr>
         }

        </tbody>
    </table>
    <div>
        @*@if (Model.PageNo != 1)
        {
            <button class="pageButtons" data-pageNo="@(Model.PageNo - 1)">Previous</button>
        }        
        <button class="pageButtons" data-pageNo="@(Model.PageNo + 1)">Next</button>*@
    </div>
</div>

<script>

    $('#ProductsTable').DataTable();

    $(".pageButtons").click(function () {
        $.ajax({
            url: '/Product/ProductTable',
            data: {
                pageNo: $(this).attr("data-pageNo")
            }
        })
        .done(function (response) {
            $("#tableContiner").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        })
    });
    
    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();

        $.ajax({
            url: '/Product/ProductTable',
            data: {
                search: searchValue
            }
        })
        .done(function (response) {
            $("#tableContiner").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        })
    });

    $("#resetBtn").click(function () {
        var searchValue = '';

        $.ajax({
            url: '/Product/ProductTable',
            data: {
                search: searchValue
            }
        })
        .done(function (response) {
            $("#tableContiner").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        })
    });


    $("#newBtn").click(function () {
        var searchValue = $("#searchTxt").val();
        $.ajax({
            url: '/Product/Create',             
        })
        .done(function (response) {
            $("#actionContainer").html(response);

            focusAction("actionContainer");
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        })
    });

    $(".editBtn").click(function () {
        $.ajax({
            url: '/Product/Edit',
            data: {
                ID: $(this).attr('data-id')
            }
        })
        .done(function (response) {
            $("#actionContainer").html(response);

            focusAction("actionContainer");
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        })
    });

    $(".deleteBtn").click(function () {
        swal({
            title: "Tasdiqlash",
            text: "Ushbu mahsultni o'chirishga ishonchigiz komilmi?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                  $.ajax({
                         type: 'POST',
                         url: '/Product/Delete',
                         data: {
                             ID: $(this).attr('data-id')
                         }
                      })
                  .done(function (response) {
                      $("#tableContiner").html(response);
                      swal("Mahsulot muvafaqiyatli o'chirildi.", {
                          icon: "success",
                      });
                  })
                  .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                      alert("FAIL");
                  });
                
            }  
        });
    });
        //var confirmDelete = confirm(" Are you sory you want to delete this product?");

        //if (confirmDelete)
        //{
        //   $.ajax({
        //          type: 'POST',
        //          url: '/Product/Delete',
        //          data: {
        //              ID: $(this).attr('data-id')
        //          }
        //       })
        //   .done(function (response) {
        //       $("#tableContiner").html(response);
        //   })
        //   .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        //       alert("FAIL");
        //   });
        //}        
   

    var products = [];

    $(".addtoCart").click(function () {

        var productID = $(this).attr('data-id');

        products.push(productID);

        $.cookie('CartProducts', products.join('-'), {path: '/'});

        updateCartProducts();

        swal("Done", "Product savatchaga solindi.", "success");

    });

</script>
