﻿@model NewMarket.Web.ViewModels.CategorySearchViewModel
@{
    ViewBag.Title = "CategoryTable";
}

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<script src="~/Content/javascript/jquery.cookie.js"></script>
<script src="~/Content/javascript/main.js"></script>
<div>
    <form method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Izlash</label>
                    <input class="form-control" id="searchTxt" name="Search" value="@Model.SearchTerm" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Amallar</label>
                    <div class="row">
                        <div class="col-md-4 pr-0">
                            <button class="btn btn-primary form-control" type="button" id="searchBtn">Izlash</button>
                        </div>
                        <div class="col-md-4 pr-0">
                            <button class="btn btn-primary form-control" type="button" id="resetBtn">Yangilash</button>
                        </div>
                        <div class="col-md-4 pr-0">
                            <button class="btn btn-primary form-control" type="button" id="newBtn">Yangi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <table id="CategoryTable" class="table table-striped" width="100%">
        <thead>
            <tr>
                <th class="font-weight-bold">Savdo markazi nomi </th>
                <th class="font-weight-bold">Ta'rif</th>
                <th class="font-weight-bold wrap-td">Amallar</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Categories != null && Model.Categories.Count > 0)
            {
                foreach (var category in Model.Categories)
                {
                    <tr>
                        <td width="30%">@category.Name</td>
                        <td width="44%">
                            @category.Description
                        </td>
                        <td class="wrap-td">
                            <button class="editBtn" data-id="@category.ID">O'zgartirish</button>
                            <button class="deleteBtn" data-id="@category.ID">O'chirish</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="3" class="text-danger">Hech qanday savdo markazlari topilmadi.</td></tr>
            }
        </tbody>
    </table>
</div>

<script>

    $('#CategoryTable').DataTable();

    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();
        $.ajax({
            url: '/Category/CategorySearch',
            data: {
                search: searchValue
            }
        })
        .done(function (response) {
            $("#tableContiner").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        });
    });


    $("#resetBtn").click(function () {
        var searchValue = '';

        $.ajax({
            url: '@Url.Action("CategoryTable", "Category")',//'/Category/CategoryTable',
            data: {
                search: searchValue
            }
        })
        .done(function (response) {
            $("#tableContiner").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        });
    });

    $("#newBtn").click(function () {
        $.ajax({
            url: '@Url.Action("Create", "Category")',//'/Category/Create',
        })
        .done(function (response) {
            $("#actionContainer").html(response);

            focusAction("actionContainer");
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        });
    });


    $(".editBtn").click(function () {
        $.ajax({
            url: '@Url.Action("Edit", "Category")',
            data: {
                ID: $(this).attr('data-id')
            }
        })
        .done(function (response) {
            $("#actionContainer").html(response);

            focusAction("actionContainer");
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL");
        });
    });


    @*$(".deleteBtn").click(function () {

        var confirmDelete = confirm("Are you sure you want to delete this category?");

        if (confirmDelete) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Delete", "Category")',
                data: {
                    ID: $(this).attr('data-id')
                }
            })
			.done(function (response) {
			    $("#tableContiner").html(response);
			})
			.fail(function (XMLHttpRequest, textStatus, errorThrown) {
			    alert("FAIL");
			});
        }
    });*@

    $(".deleteBtn").click(function () {
        swal({
            title: "Tasdiqlash?",
            text: "Ushbu savdo markazini o'chirishga ishonchingiz komilmi?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Delete", "Category")',
                    data: {
                        ID: $(this).attr('data-id')
                    }
                })
                .done(function (response) {
                    $("#tableContiner").html(response);
                    swal("Muvaffaqiyatli o'chirildi.", {
                        icon: "success",
                    });
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("FAIL");
                });

            }
        });
    });
</script>
