﻿@model NewMarket.Entities.Category
@{
    ViewBag.Title = "O'chirish";
}

    <h2>Savdo markazini o'chirish</h2>

    <h1>Ushbu savdo markazini o'chirmoqchimisiz? </h1>

    <form method="post">
        <input type="hidden" name="ID" value="@Model.ID" />
        <button type="submit">Ha</button>
    </form>

    <a href="/Index">Bekor qilish</a>