﻿@model NewMarket.Web.ViewModels.ProductsWidgetViewModel

@{
    var defoultImageURL = "/Content/images/system/placeholder-image.png";
}

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<script src="~/Content/javascript/jquery.cookie.js"></script>
<script src="~/Content/javascript/main.js"></script>

@if (Model != null && Model.Products != null)
{
    if (!Model.isLatestProducts)
    {
        <ul class="flat-filter style-1 text-center max-width-682 clearfix">
            <li class="active"><a href="#" data-filter="*">Hamma mahsulotlar</a></li>
            @foreach (var category in Model.Products.Select(x => x.Category).ToList().Distinct())
            {
                <li><a href="#" data-filter=".@category.Name.ToLower()">For @category.Name</a></li>
            }
        </ul>
       <div class="divider h54"></div> 
    }

    <div class="product-content product-fourcolumn clearfix">
        <ul class="product style2 isotope-product clearfix">

            @foreach (var product in Model.Products)
                {
                    var imageURL = string.IsNullOrEmpty(product.ImageURL) ? defoultImageURL : product.ImageURL;

                <li class="product-item @product.Category.Name.ToLower()">
                    <div class="product-thumb clearfix">
                        <a href="@Url.Action("Details","Product",new { ID=product.ID })" class="product-thumb">
                            <img src="@imageURL" alt="image" style="height:250px;">
                        </a>
                        @if (Model.isLatestProducts)
                        {
                            <span class="new">Yangi </span>
                        }
                    </div>
                    <div class="product-info text-center clearfix"><br />
                        <span class="product-title">
                            @product.Name
                        </span>
                        <div class="price">
                            <ins>
                                <span class="amount">$ @product.Price</span>
                        </ins>
                    </div>
                </div>
                <div class="add-to-cart text-center">
                    <a class="productAddToCart" data-id="@product.ID">SAVATCHAGA QO'SHISH</a>
                </div>
                <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
            </li>

            }
        </ul>
    </div>
}
<script>
   // $('#Index').DataTable();

    var products;
    $(".productAddToCart").click(function () {
        var existringCookieData = $.cookie('CartProducts');

        if (existringCookieData != undefined && existringCookieData != ""&&existringCookieData!=null)
        {
            products = existringCookieData.split('-');
        }
        else {
            products = [];
        }

        var productID = $(this).attr('data-id');

        products.push(productID);

        $.cookie('CartProducts', products.join('-'), { path: '/' });

        updateCartProducts();

        swal("Done", "Product savatchaga solindi.", "success");
    });
</script>



