﻿@model NewMarket.Web.ViewModels.CheckoutViewModel

@if (Model != null && Model.CartProducts != null && Model.CartProducts.Count > 0)
{
    var i = 0;
    <section class="flat-row main-shop shop-slidebar">
        <div class="container">
            <div class="row">
                <div class="col-md-4 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Sizning savatchangiz</span>
                    </h4>
                    <ul class="list-group mb-3">
                        @foreach (var product in Model.CartProducts)
                        {
                            var productQuantity = Model.CartProductIDs.Where(productID => productID == product.ID).Count();

                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">@i - @product.Name - Miqdori: @productQuantity </h6>
                                    <small class="text-muted">@(product.Description.Length > 100 ?product.Description.Substring(0,99) : product.Description)</small>
                                </div>
                                <span class="text-muted">Birlik narxi: $ @product.Price - Jami narxi: @(productQuantity * product.Price)</span>
                            </li>
                            i++;
                        }

                        <li class="list-group-item d-flex justify-content-between">
                            <span>Jami (USD)</span>
                            <strong>$ @Model.CartProducts.Sum(x => x.Price * Model.CartProductIDs.Where(productID => productID == x.ID).Count())</strong>
                        </li>
                    </ul>

                </div>
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Billing address</h4>
                    <form class="needs-validation" novalidate="">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">Ismingiz</label>
                                <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                                <div class="invalid-feedback">
                                    Ushbu maydonni to'ldirish shart. 
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Familiyangiz</label>
                                <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                                <div class="invalid-feedback">
                                    Ushbu maydonni to'ldirish shart.
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="username">Login</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">c</span>
                                </div>
                                <input type="text" class="form-control" id="username" placeholder="Login" required="">
                                <div class="invalid-feedback" style="width: 100%;">
                                    Ushbu maydonni to'ldirish shart.
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="email">Email <span class="text-muted">(Agar bo'lsa)</span></label>
                            <input type="email" class="form-control" id="email" placeholder="misol@uchun.com">
                            <div class="invalid-feedback">
                                Ushbu maydonni to'ldirish shart.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
                            <div class="invalid-feedback">
                                Yetkazib berish maydoningizni to'ldirishingiz shart.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                            <input type="text" class="form-control" id="address2" placeholder="Uy, xonadon raqami">
                        </div>

                        <div class="row">
                            <div class="col-md-5 mb-3">
                                <label for="country">Davlat</label>
                                <select class="custom-select d-block w-100" id="country" required="">
                                    <option value="">Tanlang...</option>
                                    <option>O'zbekiston</option>
                                </select>
                                <div class="invalid-feedback">
                                    Davlatlardan birini tanlang.
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="state">Shahar</label>
                                <select class="custom-select d-block w-100" id="state" required="">
                                    <option value="">Choose...</option>
                                    <option>Toshkent</option>
                                </select>
                                <div class="invalid-feedback">
                                    Shaharlardan birini tanlang.
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="zip">Zip</label>
                                <input type="text" class="form-control" id="zip" placeholder="" required="">
                                <div class="invalid-feedback">
                                    Pochta nomerini kiritish shart.
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="same-address">
                            <label class="custom-control-label" for="same-address">Yetkazib berish manzilim billing manzilim bilan bir xil</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="save-info">
                            <label class="custom-control-label" for="save-info">Keyingi safar uchun ushbu ma'lumotni saqlash</label>
                        </div>
                        <hr class="mb-4">

                        <h4 class="mb-3">To'lov</h4>

                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                                <label class="custom-control-label" for="credit">Kredit karda</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
                                <label class="custom-control-label" for="debit">Debit karta</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cc-name">Karta nomi</label>
                                <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                                <small class="text-muted">Kartada ko'rsatilgandek to'liq ism, familiya</small>
                                <div class="invalid-feedback">
                                    Karta ustiga ism, familiyani to'ldirish shart.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="cc-number">Karta nomeri</label>
                                <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                                <div class="invalid-feedback">
                                    Karta nomeri shart.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">Amal qilish muddati</label>
                                <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                                <div class="invalid-feedback">
                                    Amal qilish muddatini to'ldirish shart
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">Amal qilish tugashi</label>
                                <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                                <div class="invalid-feedback">

                                </div>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Buyurtma berish</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <div>
        <b>Savatda mahsulot yo'q</b>
    </div>
}

